.main-header {
  background-color: var(--header-color);
  color: var(--sec-text);

  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-shadow: var(--box-shadow);
}

.main-title {
  font-weight: 200;
  letter-spacing: 5px;
}
